.prose {
    p {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        line-height: $line-height;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 2rem 0 0.6rem;
        font-weight: normal;
        overflow-wrap: break-word;
    }

    h1 {
        font-size: $text-size-4xl;
    }

    h2 {
        font-size: $text-size-3xl;
    }

    h3 {
        font-size: $text-size-2xl;
    }

    h4 {
        font-size: $text-size-xl;
    }

    .text-caption {
        font-size: $text-size-sm;
    }

    small {
        font-size: $text-size-xs;
    }

    .lead {
        font-size: $text-size-xl;
        margin: 1em 0;
    }

    .anchor-link {
        font-weight: normal;
        font-size: 16px;
        text-decoration: none;
        color: black;
        vertical-align: super;
    }

    small {
        font-size: 0.889rem;
    }

    em {
        font-style: italic;
    }

    p code,
    pre {
        font-family: ui-monospace,
            Menlo, Monaco,
            "Cascadia Mono", "Segoe UI Mono",
            "Roboto Mono",
            "Oxygen Mono",
            "Ubuntu Monospace",
            "Source Code Pro",
            "Fira Mono",
            "Droid Sans Mono",
            "Courier New", monospace;
        font-size: $text-size-sm;
    }

    pre {
        padding: 1.25rem;
        overflow-x: scroll;
        overflow-y: scroll;
        line-height: $line-height;
        max-height: 200px;
    }

    img,
    figure img {
        display: block;
        max-width: 50ch;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    img {
        border-radius: 0.25em;
    }

    figure figcaption {
        font-style: italic;
        text-align: center;
        margin-bottom: 2rem;
    }

    ul {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        padding-left: 1rem;
        list-style-type: "\203A";
        list-style-position: outside;
        line-height: $line-height;
    }

    ul li {
        margin: 0;
        padding-left: 0.5rem;
    }

    ol {
        margin-bottom: 1em;
    }

    ol li {
        margin-left: 1em;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol,
    dl ul,
    dl ol {
        margin-top: 0;
        margin-bottom: 0;
    }

    dl dt {
        margin-top: 1em;
        font-weight: bold;
    }

    dl dd {
        margin-left: 1em;
    }

    dl dd p:first-child {
        margin-top: 0;
    }

    table {
        margin: 0 auto;
        background-color: $neutral-color;
        border-radius: 0.25em;
        text-align: left;
        padding: 1em 0;
        border-collapse: collapse;
    }

    table td,
    table th {
        padding: 0.5em 1em;
    }

    table th {
        font-weight: bold;
        border-bottom: 2px solid white;
    }

    table td {
        border-bottom: 1px solid white;
    }
}
