.prose {
    p {
        margin-top: 0;
        margin-bottom: 1rem;
        line-height: $line-height;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        padding: 2rem 0 0.5rem 0;
        font-weight: normal;
        overflow-wrap: break-word;
    }

    h1 a,
    h2 a,
    h3 a,
    h4 a {
        text-decoration: none;
    }

    h1 {
        font-size: $text-size-3xl;
    }

    h2 {
        font-size: $text-size-xl;
    }

    h3 {
        font-size: $text-size-lg;
    }

    h4 {
        font-size: $text-size-md;
        font-weight: normal;
    }

    .text-caption {
        font-size: $text-size-sm;
    }

    small {
        font-size: $text-size-xs;
    }

    .anchor-link {
        font-weight: normal;
        font-size: $text-size-sm;
        text-decoration: none;
        vertical-align: top;
    }

    .external-link::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14'%3E%3Cpath d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");
        margin-left: 0.25em;
    }

    small {
        font-size: $text-size-sm;
    }

    em {
        font-style: italic;
    }

    p code,
    pre {
        font-family: ui-monospace,
            Menlo, Monaco,
            "Cascadia Mono", "Segoe UI Mono",
            "Roboto Mono",
            "Oxygen Mono",
            "Ubuntu Monospace",
            "Source Code Pro",
            "Fira Mono",
            "Droid Sans Mono",
            "Courier New", monospace;
        font-size: $text-size-sm;
    }

    pre {
        padding: 1rem;
        overflow-x: scroll;
        overflow-y: scroll;
        line-height: $line-height;
        max-height: 200px;
        border-radius: 0.25em;
    }

    img,
    figure img {
        display: block;
        max-width: 100%;
        max-height: 400px;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    img {
        border-radius: 0.25rem;
    }

    figure figcaption {
        font-style: italic;
        text-align: center;
        margin-bottom: 2rem;
    }

    ul {
        margin-bottom: 1rem;
        padding-left: 1rem;
        list-style-type: "\203A";
        list-style-position: outside;
        line-height: $line-height;
    }

    ul li {
        margin: 0;
        padding-left: 0.5rem;
    }

    ol {
        margin-bottom: 1rem;
    }

    ol li {
        margin-left: 1rem;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol,
    dl ul,
    dl ol {
        margin-top: 0;
        margin-bottom: 0;
    }

    dl dt {
        margin-bottom: 1rem;
        font-weight: bold;
    }

    dl dd {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    dl dd p:first-child {
        margin-top: 0;
    }

    table {
        margin-inline: auto;
        background-color: $color-neutral;
        border-radius: 0.25em;
        text-align: left;
        padding: 1em 0;
        border-collapse: collapse;
    }

    table td,
    table th {
        padding: 0.5rem 1rem;
    }

    table th {
        font-weight: bold;
        border-bottom: 2px solid white;
    }

    table td {
        border-bottom: 1px solid white;
    }
}
