.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.w-narrow,
.w-wide,
.w-full {
    width: 100%;
    max-width: 1000px;
}

.w-narrow {
    max-width: 680px;
}

.bg-neutral {
    background-color: $color-neutral;
}

.bg-white {
    background-color: #fff;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-magenta-dark {
    background-color: $color-magenta-dark;
}

.text-white {
    color: #fff;
}

.text-primary-dark {
    color: $color-primary;
}

@each $name,
$value in $spacing {
    .mx-#{$value} {
        margin: 0 $value;
    }

    .my-#{$value} {
        margin: $value 0;
    }
}

@each $name,
$value in $text-sizes {
    .text-#{$name} {
        font-size: $value;
    }
}

.rounded {
    border-radius: 0.25em;
}

.gap-y-1 {
    row-gap: 1rem;
}

.gap-y-2 {
    row-gap: 2rem;
}

.gap-x-2 {
    column-gap: 2rem;
}

.gap-x-4 {
    column-gap: 4rem;
}

.gap-y-4 {
    row-gap: 4rem;
}

.align-items-center {
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.sm-hide {
    display: none;
}

@media (min-width: 800px) {
    .sm-hide {
        display: block;
    }
}

.text {
    line-height: 1.5;
}

.text-primary-dark {
    color: $color-primary-dark;
}

.nowrap {
    word-break: keep-all;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.shadow {
    box-shadow: 0 0 20px rgba(black, .25);
}

.illustration {
    width: 100%;
    border-radius: 0.25em;
}