.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.mt-2 {
    margin-top: 1lh;
}

.mb-1 {
    margin-bottom: 0.5lh;
}

.mb-2 {
    margin-bottom: 1lh;
}

.py-1 {
    padding-block: 0.5lh;
}

.py-2 {
    padding-block: 1lh;
}

.pb-2 {
    padding-bottom: 1lh;
}

.w-narrow,
.w-wide,
.w-full {
    width: 100%;
    max-width: 125rch;
}

.w-narrow {
    max-width: 100rch;
}

.bg-neutral {
    background-color: $color-neutral;
}

.bg-white {
    background-color: #fff;
}

.bg-primary {
    background-color: $color-primary;
}

.bg-magenta-dark {
    background-color: $color-magenta-dark;
}

.text-white {
    color: #fff;
}

.text-primary-dark {
    color: $color-primary;
}

@each $name,
$value in $spacing {
    .mx-#{$value} {
        margin: 0 $value;
    }

    .my-#{$value} {
        margin: $value 0;
    }
}

@each $name,
$value in $text-sizes {
    .text-#{$name} {
        font-size: $value;
    }
}

.rounded {
    border-radius: 0.25em;
}

.align-items-center {
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.sm-hide {
    display: none;
}

@media (min-width: 800px) {
    .sm-hide {
        display: block;
    }
}

.text-primary-dark {
    color: $color-primary-dark;
}

.nowrap {
    word-break: keep-all;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.shadow {
    box-shadow: 0 0 20px rgba(black, .25);
}
