$text-size: 16px;
$line-height: 1.5;

$color-primary-light: #BBD9EB;
$color-primary: #37a0cb;
$color-primary-dark: #003e5c;
$color-secondary-light: #D1D4DC;
$color-secondary-dark: #002546;
$color-secondary: #003d73;
$color-ok-dark: #425821;
$color-ok: #8bad3f;
$color-ok-light: #CDDAA9;
$color-danger: #ee7f00;
$color-danger-dark: #5b0c0c;
$color-danger: #e2001a;
$color-danger-light: #F9C8CE;
$color-warning-dark: #634b03;
$color-warning: #fabb00;
$color-warning-light: #FCD04D;
$color-neutral: #f5f5f5;
$color-neutral-dark: #a5a5a5;

$color-magenta: #e2007a;
$color-magenta-dark: #5f0030;

$text-size-xs: 0.69rem;
$text-size-sm: 0.83rem;
$text-size-md: 1rem;
$text-size-lg: 1.2rem;
$text-size-xl: 1.44rem;
$text-size-2xl: 1.73rem;
$text-size-3xl: 2.07rem;
$text-size-4xl: 2.49rem;
$text-size-5xl: 2.99rem;

$text-sizes: (
    "xs": 0.69rem,
    "sm": 0.83rem,
    "md": 1rem,
    "lg": 1.2rem,
    "xl": 1.44rem,
    "2xl": 1.73rem,
    "3xl": 2.07rem,
    "4xl": 2.49rem,
    "5xl": 2.99rem,
);

$spacing: (
    "0": "0",
    "px": "1px",
    "0.5": "2rem",
    "1": "4rem",
    "1.5": "6rem",
    "2": "8rem",
    "2.5": "10rem",
    "3": "12rem",
    "3.5": "14rem",
    "4": "16rem",
    "5": "20rem",
    "6": "24rem",
    "7": "28rem",
    "8": "32rem",
    "9": "36rem",
    "10": "40rem",
    "11": "44rem",
    "12": "48rem",
    "14": "56rem",
    "16": "64rem",
);

$sans-font: AUPassata,
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    helvetica,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    arial,
    sans-serif;
$monospace-font: ui-monospace,
    Menlo,
    Monaco,
    "Cascadia Mono",
    "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Monospace",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Courier New",
    monospace;
