$text-size: 16px;
$line-height: 1.5;

$primary-color-light: #BBD9EB;
$primary-color: #37a0cb;
$primary-color-dark: #003e5c;
$secondary-color-light: #D1D4DC;
$secondary-color-dark: #002546;
$secondary-color: #003d73;
$ok-color-dark: #425821;
$ok-color: #8bad3f;
$ok-color-light: #CDDAA9;
$danger-color: #ee7f00;
$danger-color-dark: #5b0c0c;
$danger-color: #e2001a;
$danger-color-light: #F9C8CE;
$warning-color-dark: #634b03;
$warning-color: #fabb00;
$warning-color-light: #FCD04D;
$neutral-color: #f5f5f5;
$neutral-color-dark: #a5a5a5;

$text-size-xs: 0.69rem;
$text-size-sm: 0.83rem;
$text-size-md: 1rem;
$text-size-lg: 1.2rem;
$text-size-xl: 1.44rem;
$text-size-2xl: 1.73rem;
$text-size-3xl: 2.07rem;
$text-size-4xl: 2.49rem;
$text-size-5xl: 2.99rem;

$sans-font: AUPassata, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$monospace-font: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

$spacing: (
    "0": 0,
    "px": 1,
    "0.5": 2,
    "1": 4,
    "1.5": 6,
    "2": 8,
    "2.5": 10,
    "3": 12,
    "3.5": 14,
    "4": 16,
    "5": 20,
    "6": 24,
    "7": 28,
    "8": 32,
    "9": 36,
    "10": 40,
    "11": 44,
    "12": 48,
    "14": 56,
    "16": 64,
);
