@charset "utf-8";

@import "normalize";

@import "vars";
@import "layout";
@import "prose";
@import "utils";

@import "components/admonition";
@import "components/timeline";
@import "components/button";


@font-face {
    font-family: "AUPassata";
    src: url("/assets/aupassata_rg-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "AUPassata";
    src: url("/assets/aupassata_bold-webfont.woff2") format("woff2");
    font-weight: 600;
    font-style: bold;
    font-display: fallback;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 16px;
}

body {
    font-family: $sans-font;
    background: $color-primary-dark;
    color: $color-primary-dark;
}

.logo {
    display: inline-flex;
}

a.logo {
    text-decoration: none;
}

a.logo svg {
    height: 1em;
    padding: 1em 0;
}

.display-item {
    margin-bottom: 1rem
}

.display-item .label {
    text-transform: uppercase;
    margin-left: .25rem
}

.s-display {
    font-size: 5rem;
}

.boring-details {
    display: grid;
    grid-template-columns: 1fr;

    dt {
        font-weight: bold;
    }

    ul {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        padding-left: 1rem;
        list-style-type: "\203A";
        list-style-position: outside;
    }

    ul li {
        margin: 0;
        padding-left: 0.5rem;
    }
}

@media (min-width: 800px) {
    .boring-details {
        grid-template-columns: max-content auto;
    }
}

.sidenav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 0.5em 0;
}

.toc ul li:hover {
    background-color: $color-neutral;
}

.sidenav ul a {
    text-decoration: none;
}

.sidenav ul ul {
    margin-left: 1em;
    font-size: $text-size-sm;
}

h1.title {
    font-weight: normal;
    font-size: $text-size-5xl;
    color: $color-primary-dark;
    margin-top: 0;
}

.pagination {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    a {
        color: $color-primary;
        text-transform: uppercase;
        font-size: $text-size-sm;
        letter-spacing: 0.025rem;
        text-decoration: none;
        font-weight: bold;
        padding: 1rem 0;
    }

    a:hover {
        color: $color-primary-dark;
    }

    a.inactive {
        color: $color-neutral-dark;
        cursor: not-allowed;
    }

    a.next {

        text-align: right;
    }
}

a {
    color: $color-primary-dark;
}

a:hover {
    color: $color-primary;
}

h1.caption {
    text-transform: uppercase;
    font-size: $text-size-sm;
    letter-spacing: 0.025rem;
    color: $color-primary-dark;
    margin-top: 0;
}

.lead-grid {
    display: grid;
    gap: 1em 3em;

    .illustration1 {
        grid-area: ill1;
    }

    .illustration2 {
        grid-area: ill2;
    }

    .illustration3 {
        grid-area: ill3;
    }

    .description1 {
        grid-area: de1;
    }

    .description2 {
        grid-area: de2;
    }

    .description3 {
        grid-area: de3;
    }

    grid-template-areas: "de1"
    "de2"
    "de3";

    @media (min-width: 800px) {
        grid-template-areas: "ill1 de1 de1"
            "de2 de2 ill2"
            "ill3 de3 de3";
    }
}

.contact-grid {
    display: grid;
    column-gap: 2em;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.metadata {
    font-family: $monospace-font;
    font-size: $text-size-sm;
    background-color: $color-danger-dark;
    color: white;
    padding: 6px 6px;
    display: inline-block;
    border-radius: 0.25em;
}

#map {
    border: none;
    display: inline-block;
    width: 100%;
    height: 60vh;
    border-radius: 0.25em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contact-card {
    display: flex;
    align-items: center;
    text-decoration: none;

    .avatar {
        width: 4em;
        height: 4em;
        border-radius: 100%;
        margin-right: 1em;
        background: $color-primary-dark;
    }
}
