@charset "utf-8";

@import "normalize";

@import "vars";
@import "layout";
@import "prose";
@import "utils";

@import "components/admonition";
@import "components/button";
@import "components/gallery";
@import "components/prices";


* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $sans-font;
    background: $color-primary-dark;
    color: $color-primary-dark;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 0.5em 0;
    font-weight: normal;
    overflow-wrap: break-word;
}

h1 {
    font-size: $text-size-3xl;
}

h2 {
    font-size: $text-size-xl;
}

h3 {
    font-size: $text-size-lg;
}

h4 {
    font-size: $text-size-md;
    font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a {
    text-decoration: none;
}

h1.title {
    font-weight: normal;
    font-size: $text-size-4xl;
    color: $color-primary-dark;
    margin: 0;
    padding-bottom: 1rem;
}

h1.page-title {
    font-weight: normal;
    font-size: $text-size-4xl;
    color: $color-primary-dark;
    margin: 0;
    padding: 1rem 0;
}

h1.caption {
    text-transform: uppercase;
    font-size: $text-size-sm;
    letter-spacing: 0.025rem;
    font-weight: bold;
    margin-top: 0;
}

a {
    color: $color-primary-dark;
}

a:hover {
    color: $color-primary;
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: 2px solid $color-neutral;
}

.logo {
    display: inline-flex;
    text-decoration: none;
    margin: 1em 0;

    svg {
        box-sizing: content-box;
        height: 1em;
    }
}

.display-item {
    margin-bottom: 1rem
}

.display-item .label {
    text-transform: uppercase;
    margin-left: .25rem
}

.s-display {
    font-size: 5rem;
}

.toc {
    margin: 0;
    padding: 0;

    list-style: none;

    ul {
        list-style: none;
        padding-left: 1em;
    }

    li {
        line-height: 2em;
    }

    li.current>a::before {
        content: url("/assets/caret.svg");
        margin-left: -1.3em;
        top: 2px;
        display: inline;
        position: relative;
    }

    a {
        text-decoration: none;
    }
}

.lead-grid {
    display: grid;
    gap: 1em 3em;

    .illustration1 {
        grid-area: ill1;
    }

    .illustration2 {
        grid-area: ill2;
    }

    .illustration3 {
        grid-area: ill3;
    }

    .description1 {
        grid-area: de1;
    }

    .description2 {
        grid-area: de2;
    }

    .description3 {
        grid-area: de3;
    }

    .description1 h1,
    .description2 h1,
    .description3 h1 {
        margin: 1rem 0 0.5rem 0;
    }

    grid-template-areas: "de1"
    "de2"
    "de3";

    @media (min-width: 800px) {
        grid-template-areas: "ill1 de1 de1"
            "de2 de2 ill2"
            "ill3 de3 de3";
    }
}

.metadata {
    font-family: $monospace-font;
    font-size: $text-size-sm;
    background-color: $color-primary-dark;
    color: white;
    padding: 6px 6px;
    display: inline-block;
    border-radius: 0.25em;
}

.contact-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    row-gap: 1em;
}

@media (min-width: 800px) {
    .contact-grid {
        column-gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
}

.contact-cards {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact-card {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

#map {
    border: none;
    display: block;
    width: 100%;
    border-radius: 0.25em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 12px;
}

#map iframe {
    display: inline-block;
    min-height: 400px;
    max-height: 0.5vw;
    width: 100%;
}

.contact-card {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;

    .avatar {
        width: 4em;
        height: 4em;
        border-radius: 100%;
        margin-right: 1em;
        background: $color-primary-dark;
    }
}

@media (min-width: 800px) {
    .contact-card {
        column-gap: 2em;
        grid-template-columns: 1fr 1fr;
    }
}

.news-summary {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid $color-neutral;
}

.news-illustration {
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
}

.news-highlight {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    align-items: center;
    padding: 1em 0;
}

.news-highlight-title {
    margin: 0.25em 0;
}

.news-highlight-title a {
    color: white;
    text-decoration: none;
    display: block;
}

#search {
    width: 100%;
    font-size: $text-size-xl;
    padding: 0.75em;
    border: 1px solid #eee;
    margin-bottom: 1em;
}

.search-result-items {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid #eee;
    }
}

.search-result-item a {
    font-weight: bold;
    padding-bottom: 0.25em;
    display: block;
}

#search-button svg {
    display: block;
    box-sizing: content-box;
    width: 22px;
    height: 22px;
}

.article .lead {
    font-size: $text-size-xl;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
