{% extends "layout.html" %}

{% block content %}
<div class="bg-white">
    <div class="container flex w-narrow centered flex-col gap-y-4">
        <div class="flex w-full gap-x-2" style="align-items: center;">
            <div class="w-33 sm-hide">
                <object type="image/svg+xml" data="{{ pathto('_static/undraw_speed_test_wxl0.svg', 1) }}"
                    class="w-full"></object>
            </div>
            <div class="w-66">
                <h1 class="text-primary-dark">High-performance computing facility for bioinformatics and life sciences
                </h1>
                <p class="lg">As the first high-performance computing facility for the life sciences in Denmark, we have
                    more than 10 years of experience serving scientists, students and SMEs</p>
            </div>
        </div>
        <div class="flex w-full gap-x-2" style="align-items: center;">
            <div class="w-66">
                <h1 class="text-primary-dark">A safe home for your sensitive data</h1>
                <p class="lg">ISO-27001 certified with yearly ISAE 3000 declarations. Got special compliance
                    requirements? Get your own <a href="{{ pathto('zones/about') }}">closed
                        zone for
                        extra
                        control.</a></p>
            </div>
            <div class="w-33 sm-hide">
                <object type="image/svg+xml" data="{{ pathto('_static/undraw_coming_home_52ir.svg', 1) }}"
                    class="w-full"></object>
            </div>
        </div>
        <div class="flex w-full gap-x-2" style="align-items: center;">
            <div class="w-33 sm-hide">
                <object type="image/svg+xml" data="{{ pathto('_static/undraw_science_fqhl.svg', 1) }}"
                    class="w-full"></object>
            </div>
            <div class="w-66">
                <h1 class="text-primary-dark">Empowers scientists to utilize big data and perform leading research</h1>
                <p class="lg">We provide up-to-date documentation, friendly support, and workshops so that you can get
                    the help
                    you
                    need and concentrate on the science.</p>
            </div>
        </div>
    </div>
    <div class="bg-neutral my-1">
        <div class="container w-wide centered">
            <div class="flex w-full space-evenly" style="flex-flow: row wrap;">
                <div class="display-item"><span class="s-display">4500</span><span class="label">cores</span></div>
                <div class="display-item"><span class="s-display">39</span><span class="label">TB memory</span></div>
                <div class="display-item"><span class="s-display">11</span><span class="label">PB storage</span></div>
                <div class="display-item"><span class="s-display">1</span><span class="label">billion files</span></div>
            </div>
        </div>
    </div>
    <div class="my-1">
        <div class="container w-wide centered">
            <div class="flex w-full space-evenly" style="flex-flow: row wrap;">
                <div class="display-item"><span class="s-display">630</span><span class="label">users</span></div>
                <div class="display-item"><span class="s-display">690</span><span class="label">projects</span></div>
                <div class="display-item"><span class="s-display">700</span><span class="label">publications</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary text-white">
        <div class="container w-narrow centered py-2">
            <h1>The boring details</h1>
            <dl class="front-dl py-2">
                <dt>Who can get an account?</dt>
                <dd>
                    <p>We are open to account requests from people associated with a university
                        or small and medium-sized enterprises (SMEs).</p>
                </dd>
                <dt>What does it cost?</dt>
                <dd>
                    <p>In 2023, the prices are:</p>

                    <div class="flex w-full space-evenly" style="flex-flow: row wrap;">
                        <div class="display-item">
                            <span class="lg">0.13</span>
                            <span class="label">DKK/billing hour</span>
                            <span class="label">CPU</span>
                        </div>
                        <div class="display-item">
                            <span class="lg">2.34</span>
                            <span class="label">DKK/billing hour</span>
                            <span class="label">GPU</span>
                        </div>
                        <div class="display-item">
                            <span class="lg">250</span>
                            <span class="label">DKK/TB/year</span>
                            <span class="label">storage</span>
                        </div>
                        <div class="display-item">
                            <span class="lg">500</span>
                            <span class="label">DKK/TB/year</span>
                            <span class="label">backup</span>
                        </div>
                    </div>

                    <p>One billing hour corresponds to one CPU core for one hour or 8 GB memory for
                        one hour, whichever is highest. One GPU hour is the same as 18 core hours
                        (half of the cores of a GPU node).</p>
                    <p>Prices are updated yearly and are subject to change. Do not hesitate to contact
                        us if you have any questions.</p>
                    <p>* For example, if you store 1 TB of data in backup for a year you will be
                        billed 250 + 500 DKK. 250 DKK for the on-disk copy and 500 DKK for off-site
                        backup copy.</p>
                </dd>
                <dt>How do I pay?</dt>
                <dd>
                    <p>Costs are associated with <em>project folders</em>. The owner of a project folder is
                        responsible for the costs associated with the project. The project owner will
                        be charged yearly (in January) based on actual usage.</p>
                    <p>If the project owner is associated with either:</p>
                    <ul class="simple">
                        <li>
                            <p>Faculty of Health, Aarhus University,</p>
                        </li>
                        <li>
                            <p>Faculty of Natural Sciences, Aarhus University,</p>
                        </li>
                        <li>
                            <p>Central Region Denmark (Region Midt),</p>
                        </li>
                    </ul>
                    <p>then the usage is paid internally and the project owner will not receive a bill
                        directly from GenomeDK.</p>
                </dd>
            </dl>
        </div>
    </div>
</div>
{% endblock %}
