@mixin admonition($bg, $fg, $hover) {
    background: $bg;
    color: $fg;

    a {
        color: $fg;
    }

    a:hover {
        color: $hover;
    }
}

.admonition {
    padding: 1.25em;
    border-radius: 0.25em;
    margin: 1em 0;
}

.admonition :first-child {
    margin-top: 0;
}

.admonition :last-child {
    margin-bottom: 0;
}

.admonition.note {
    @include admonition($bg: $ok-color-light,
        $fg: $ok-color-dark,
        $hover: $ok-color );
}

.admonition.warning {
    @include admonition($bg: $warning-color-light,
        $fg: $warning-color-dark,
        $hover: $warning-color );
}

.admonition.danger {
    @include admonition($bg: $danger-color-light,
        $fg: $danger-color-dark,
        $hover: $danger-color );
}
