@mixin admonition($bg, $fg, $hover) {
    background: $bg;
    color: $fg;

    a {
        color: $fg;
    }

    a:hover {
        color: $hover;
    }
}

.admonition {
    padding: 1em 1.25em;
    border-radius: 0.25em;
    margin: 1em 0;
    display: grid;
    grid-template-columns: min-content auto;
    align-items: start;
    column-gap: 0.75em;

    svg {
        padding-top: 4px;
    }
}

.admonition :first-child {
    margin-top: 0;
}

.admonition :last-child {
    margin-bottom: 0;
}

.admonition.note {
    @include admonition($bg: $color-ok-light,
        $fg: $color-ok-dark,
        $hover: $color-ok );
}

.admonition.warning {
    @include admonition($bg: $color-warning-light,
        $fg: $color-warning-dark,
        $hover: $color-warning );
}