.listing-post {
    display: flex;
    margin-right: 32px;
    max-width: 80ch;
    margin: 0 auto;
    position: relative;
}

.listing-post-metadata {
    flex-basis: 110px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
    margin-top: 8px;
    max-width: 110px;
    text-align: right;
}

.listing-post-timeline {
    background-color: $color-neutral;
    flex-basis: 2px;
    flex-grow: 0;
    flex-shrink: 0;
}

.listing-post-timeline-bullet {
    align-items: center;
    background: $color-neutral-dark;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    height: 6px;
    width: 6px;
    justify-content: center;
    left: 138px;
    position: absolute;
    top: 14px;
}

.listing-post-summary {
    flex: 0 1 100%;
    padding-bottom: 32px;
    padding-left: 32px;

    h1 {
        margin-top: 0;
        font-size: $text-size-2xl;
    }

    h1 a {
        text-decoration: none;
        color: $color-primary-dark;
    }
}
