<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GenomeDK</title>
    <style>
        @font-face {
            font-family: "AUPassata";
            src: url("/_static/aupassata_rg-webfont.woff2") format("woff2");
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: "AUPassata";
            src: url("/_static/aupassata_bold-webfont.woff2") format("woff2");
            font-weight: 600;
            font-style: bold;
            font-display: swap;
        }

    </style>
    <!--<link rel="stylesheet" href="/_static/reset.css" />-->
    <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css" />
    <link rel="stylesheet" href="/_static/style.css" />

    {% if pagename.startswith('docs/') or pagename.startswith('search') %}
    {%- for scriptfile in script_files %}
    {{ js_tag(scriptfile) }}
    {%- endfor %}
    <script src="_static/searchtools.js"></script>
    <script src="_static/language_data.js"></script>
    <script src="searchindex.js" defer=""></script>
    {% endif %}
</head>

<body>
    <div class="bg-white">
        <div class="container w-wide">
            <header>
                <a href="{{ pathto('index') }}" class="logo">
                    <svg viewBox="0 0 130 13" xmlns="http://www.w3.org/2000/svg">
                        <text fill="#003e5c" style="font-weight: bold;" x="0" y="12" letter-spacing="0">
                            <tspan style="fill: #003e5c;">G</tspan>
                            <tspan style="fill: #003e5c;">E</tspan>
                            <tspan style="fill: #003e5c;">N</tspan>
                            <tspan style="fill: #003e5c;">O</tspan>
                            <tspan style="fill: #003e5c;">M</tspan>
                            <tspan style="fill: #003e5c;">E</tspan>
                            <tspan style="fill: #003e5c;">|</tspan>
                            <tspan style="fill: #37a0cb;">D</tspan>
                            <tspan style="fill: #37a0cb;">K</tspan>
                        </text>
                    </svg>
                </a>
                <nav>
                    <a href="{{ pathto('docs/index') }}">Documentation</a>
                    <a href="{{ pathto('support') }}">Support</a>
                    <a href="{{ pathto('training') }}">Training</a>
                    <a href="{{ pathto('technical') }}">Technical</a>
                    <a href="https://console.genome.au.dk/status">Status</a>
                    <a class="flashy-link" href="https://console.genome.au.dk/user-requests/create/">Request
                        account</a>
                </nav>
            </header>
        </div>
    </div>
    {% block content %}
    <div class="bg-white">
        <div class="container w-wide">
            <div id="content" class="centered">
                {% if pagename.startswith('docs/') %}
                <div class="sidebar">
                    <div id="searchbox" class="searchbox" role="search">
                        <div class="searchformwrapper">
                            <form class="search" action="{{ pathto('search') }}" method="get">
                                <input type="text" name="q" placeholder="Tell me about..." />
                                <button type="submit">
                                    Search
                                </button>
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />
                            </form>
                        </div>
                    </div>
                    <div class="toc">
                        {{ toctree(includehidden=True) }}
                    </div>
                </div>
                {% endif %}
                <div class="doc" role="main">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <footer>
        <div class="container">
            <object type="image/svg+xml" data="{{ pathto('_static/au_segl.svg', 1) }}" class="seal"></object>
            <p><a href="{{ pathto('terms') }}">Terms of service</a> | <a
                    href="{{ pathto('governance') }}">Governance</a> | <a
                    href="{{ pathto('publications') }}">Publications</a></p>
            <p>&copy; GenomeDK, Aarhus University</p>
        </div>
    </footer>
</body>

</html>
