{% extends "layout.html" %}

{% block content %}

{% if page is defined %}
{% set section = get_section(path=page.ancestors | reverse | first) %}
{% else %}
{% set page = section %}
{% endif %}

<div class="bg-white">
    <div class="container w-wide">
        <div class="wrapper">
            <nav class="sidebar">
                <h1 class="caption">Contents</h1>
                {% if section.pages %}
                <ul class="toc">
                {% for doc in section.pages %}
                    <li class="{% if doc.permalink == page.permalink %}current{% endif %}">
                        <a href="{{ doc.permalink | safe }}">
                            {{ doc.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </nav>
            <div class="doc">
                {% block doc %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
