{% extends "layout.html" %}

{% block content %}

{% if page is defined %}
{% set section = get_section(path=page.ancestors | reverse | first) %}
{% else %}
{% set page = section %}
{% endif %}

<div class="bg-white">
    <div class="container w-wide py-2">
        <div class="wrapper">
            <nav class="sidebar">
                <h1 class="caption">Contents</h1>
                {% if section.pages %}
                <ul class="toc">
                {% for doc in section.pages %}
                    <li class="{% if doc.permalink == page.permalink %}current{% endif %}">
                        <a href="{{ doc.permalink | safe }}">
                            {{ doc.title }}
                        </a>
                        {% if doc.permalink == page.permalink %}
                        <ul>
                            {% for h1 in page.toc %}
                                <li>
                                    <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </nav>
            <div class="doc">
                {% block doc %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
