{% extends "layout.html" %}

{% block content %}
<div class="bg-white">
    <div class="container w-wide">
        <div class="bg-white py-2 w-full">
            <div class="w-wide centered contact-grid">
                <div class="flow">
                    <h1 class="title">Need help?</h1>
                    <p class="text-lg">Or want to learn more about what GenomeDK can offer? Don't hesitate to get in touch.</p>
                    <div>
                        <a class="btn btn-magenta" href="mailto:{{ page.extra.email }}">Send us an e-mail</a>
                    </div>
                    <div>
                        Building 1872, office 359<br />
                        Universitetsbyen 81<br />
                        8000 Aarhus C
                    </div>
                    <div>
                        E-mail: <a href="mailto:{{ page.extra.email }}">{{ page.extra.email }}</a>
                    </div>
                    <div>
                        Phone: {{ page.extra.phone }}
                    </div>
                </div>
                <div id="map">
                    <iframe frame="Map showing the location of the GenomeDK office." frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=10.20545393228531%2C56.16976763341712%2C10.208567976951601%2C56.17084875073287&amp;layer=mapnik&amp;marker=56.17030819587982%2C10.207010954618454"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-neutral">
    <div class="container w-wide py-2">
        <h1>Meet the team</h1>
        <div class="contact-cards">
            {% for person in page.extra.staff %}
            <a class="contact-card" alt="Send an e-mail to {{ person.name }}" href="mailto:{{ person.email }}">
                <div class="name"><strong>{{ person.name }}</strong></div>
                <div class="title">{{ person.title }}</div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
