{% extends "layout.html" %}

{% block content %}
<div class="bg-white">
    <div class="container flex w-wide centered flex-col lead-grid align-items-center pb-2">
        <div class="illustration1 sm-hide">
            <object type="image/svg+xml" data="/assets/undraw_speed_test_wxl0.svg"
                class="w-full"></object>
        </div>
        <div class="description1">
            <h1>High-performance computing facility for all
            </h1>
            <p class="text-xl text">As the first high-performance computing facility for the life sciences in Denmark, we have
                more than 10 years of experience serving scientists, students, the public sector, and SMEs.</p>
        </div>

        <div class="illustration2 sm-hide">
            <object type="image/svg+xml" data="/assets/undraw_coming_home_52ir.svg"
                class="w-full"></object>
        </div>
        <div class="description2">
            <h1>A safe home for your sensitive data</h1>
            <p class="text-xl text">
                We take <a href="{{ get_url(path='security') }}">information security</a> seriously. GenomeDK is ISO 27001 certified with yearly ISAE 3000 declarations.
            </p>
            <p class="text-xl text">
                Organize and control access to your data in <a href="{{ get_url(path="docs/projects-and-accounting") }}">project folders</a>,
                to help you reach GDPR compliance.
            </p>
            <p  class="text-xl text">
                Got special compliance
                requirements? Get your own <a href="{{ get_url(path="zones/") }}">
                closed zone for extra control</a>.
            </p>
        </div>

        <div class="illustration3 sm-hide">
            <object type="image/svg+xml" data="/assets/undraw_science_fqhl.svg"
                class="w-full"></object>
        </div>
        <div class="description3">
            <h1>Empowers scientists to utilize big data and perform leading research</h1>
            <p class="text-xl text">We provide up-to-date documentation, friendly support, and workshops so that you can get
                the help
                you
                need and concentrate <a href="{{ get_url(path="publications") }}">on the science</a>.</p>
            <p class="text-xl text">We support users in a wide range of fields, including (but not limited to) bioinformatics, genetics, precision medicine, social sciences, engineering, chemistry, and physics.</p>
        </div>
    </div>
    <div class="bg-neutral py-2">
        <div class="container w-wide centered">
            <div class="flex w-full space-evenly" style="flex-flow: row wrap;">
                <div class="display-item"><span class="s-display">14000</span><span class="label">cores</span></div>
                <div class="display-item"><span class="s-display">110</span><span class="label">TB memory</span></div>
                <div class="display-item"><span class="s-display">23</span><span class="label">PB storage</span></div>
            </div>
        </div>
    </div>
    <div class="bg-white py-2">
        <div class="container w-wide centered">
            <div class="flex w-full space-evenly" style="flex-flow: row wrap;">
                <div class="display-item"><span class="s-display">800</span><span class="label">users</span></div>
                <div class="display-item"><span class="s-display">850</span><span class="label">projects</span></div>
                <div class="display-item"><span class="s-display">900</span><span class="label">publications</span>
                </div>
            </div>
        </div>
    </div>
    {% set news = get_section(path="news/_index.md") %}
    {% set page = news.pages | filter(attribute="extra.published", value=true) | filter(attribute="extra.highlight", value=true) | first %}
    {% if page %}
    <div class="bg-primary text-white py-2">
        <div class="container w-wide centered">
            <h1>Hot off the press</h1>
            <article class="news-highlight">
                <img class="illustration shadow" src="{{ page.path }}/{{ page.extra.illustration }}" />
                <div class="news-highlight-body">
                    <div class="metadata">{{ page.date | date(format='%b %d, %Y') }}</div>
                    <h1 class="news-highlight-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
                    <section class="prose mb-1">
                        {{ page.summary | safe }}
                    </section>
                    <a class="btn btn-magenta" href="{{ page.permalink }}">Continue reading...</a>
                </div>
            </article>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
