{% extends "layout.html" %}

{% block content %}
<div class="bg-white">
    <div class="container w-narrow py-2">
        {% for page in section.pages | filter(attribute="extra.published", value=true) | slice(end=25) %}
        <article class="news-summary">
            <div class="metadata">{{ page.date | date(format='%b %d, %Y') }}</div>
            <h1 class="title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
            {% if page.extra.illustration %}
            <img class="news-illustration" src="{{ page.path }}/{{ page.extra.illustration }}" />
            {% endif %}
            <section class="prose">
                {% if page.summary %}
                {{ page.summary | safe }}
                <a href="{{ page.permalink }}">Continue reading...</a>
                {% else %}
                {{ page.content | safe}}
                {% endif %}
            </section>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
