{% extends "layout.html" %}

{% block content %}
<div class="bg-white">
    <div class="container w-wide py-2 flow">
        {% set parent = get_section(path=page.ancestors | reverse | first) %}
        <div class="prose-container flow">
            <div><a href="{{ get_url(path=parent.path) }}">&lsaquo; Go back</a></div>

            <div class="metadata">
                <time datetime="{{ page.date }}">{{ page.date | date(format='%B %-d, %Y') }}</time>
                - Aarhus, Denmark
            </div>
            <h1 class="title article-title">{{ page.title }}</h1>
        </div>
        {% if page.extra.illustration %}
        <div class="news-illustration centered">
            <img src="{{ page.path }}/{{ page.extra.illustration }}" />
        </div>
        {% endif %}
        <div class="prose prose-container">
        {{ page.content | safe }}
        </div>
    </div>
</div>
{% endblock %}
