{% extends "layout.html" %}

{% block content %}
{% set pages = section.pages | filter(attribute="extra.published", value=true) | slice(end=25) %}

<div class="bg-white">
    <div class="container w-wide news-list py-2">
        {% for page in pages %}
        <article>
            <div class="news-illustration">
                {% if page.extra.illustration %}
                    <img src="{{ page.path }}/{{ page.extra.illustration }}" />
                {% endif %}
            </div>
            <div class="news-body flow-half">
                <div class="metadata">
                    <time datetime="{{ page.date }}">{{ page.date | date(format='%B %-d, %Y') }}</time>
                    - Aarhus, Denmark
                </div>
                <h1><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
                <div class="prose">
                    {% if page.summary %}
                    {{ page.summary | safe }}
                    <a href="{{ page.permalink }}">Continue reading...</a>
                    {% else %}
                    {{ page.content | safe}}
                    {% endif %}
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock %}
