{% extends "layout.html" %}

{% block content %}
<div class="bg-primary text-white">
    <div class="container w-narrow py-1">
        <div class="price-grid py-1">
            <div class="service-item">
                <h1 class="caption">CPU</h1>
                <span class="price">0.13</span>
                <span class="unit">DKK/billing hour</span>
            </div>
            <div class="service-item">
                <h1 class="caption">GPU</h1>
                <span class="price">6.00</span>
                <span class="unit">DKK/billing hour</span>
            </div>
            <div class="service-item">
                <h1 class="caption">storage</h1>
                <span class="price">250</span>
                <span class="unit">DKK/TB/year</span>
            </div>
            <div class="service-item">
                <h1 class="caption">backup</h1>
                <span class="price">500</span>
                <span class="unit">DKK/TB/year</span>
            </div>
        </div>
        <div class="prose">
            <p><strong>The above prices apply for 2026.</strong></p>
        </div>
        <div class="prose text-sm">
            <p>One billing hour corresponds to one CPU core for one hour or 8 GB memory for
                one hour, whichever is highest.</p>
            <p>One GPU-hour corresponds to using one GPU for one hour.</p>
            <p>If you store 1 TB of data in backup for a year you will be
                billed 250 + 500 DKK. 250 DKK for the on-disk copy and 500 DKK for off-site
                backup copy.</p>
            <p>Users and project folders are always free of charge and can be requested as needed.</p>
            <p>Prices are updated yearly and are subject to change.</p>
        </div>
    </div>
</div>
<div class="bg-white">
    <div class="container w-narrow py-1">
        <div class="prose">
            <h1>Who can get an account?</h1>
                <p>
                    We are open to account requests from people associated with a university, the
                    public sector (government agencies, regions, and municipalities), and small and
                    medium-sized enterprises (SMEs).
                </p>

            <h1>How do I pay?</h1>
                <p>If the project owner is associated with either:</p>
                <ul>
                    <li>Faculty of Health, Aarhus University,</li>
                    <li>Faculty of Natural Sciences, Aarhus University,</li>
                    <li>Central Region Denmark (Region Midt),</li>
                </ul>
            <p>
                then the usage is paid internally and the project owner will not
                receive a bill directly from GenomeDK.
            </p>
            <p>
                In all other cases, the project owner is charged yearly (in
                December) based on actual usage and the listed prices, unless
                some other agreement has been made.
            </p>
                </div>
    </div>
</div>
{% endblock %}
