{% extends "layout.html" %}

{% block content %}
{% set data = load_data(path="publications.json") %}
<div class="bg-white">
    <div class="container w-narrow">
        <h1 class="title">
            {% if page %}
            {{ page.title }}
            {% else %}
            {{ section.title }}
            {% endif %}
        </h1>
        <div class="prose">
            {{ page.content | safe }}

            {{ data["publications"] | length }} publications listed, last updated on {{ data["last_updated"] }}.

            <p>Jump to year:
            {% for year in data["publications"] | sort(attribute="year") | map(attribute="year") | unique | reverse %}
            <a href="#section-{{ year }}">{{ year }}</a>{% if not loop.last %},{% endif %}{% endfor %}
            </p>

            <hr />

            {% for year, pubs in data["publications"] | sort(attribute="year") | reverse | group_by(attribute="year") %}
            <h2 id="section-{{ year }}">{{ year }}</h2>
            <p>({{ pubs | length }} publications)</p>
            <ul>
                {% for pub in pubs %}
                <li>{{ pub["citation"] | safe }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
