{% extends "layout_with_title.html" %}

{% block body %}
{% set data = load_data(path="publications.json") %}
<div class="bg-white">
    <div class="container w-narrow prose py-1">
        {{ page.content | safe }}

        {{ data["publications"] | length }} publications listed, last updated on {{ data["last_updated"] }}. Sorted by first publication date.

        <hr />

        <ul>
            {% for pub in data["publications"] %}
            <li>{{ pub | safe }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
