body {
    font-size: 1.5rem;
}
.main h1 {
    margin-bottom: 0.5em;
}
.main h2, .main h3, .main h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.left-menu {
    background: none;
}

.section-title {
    margin-bottom: 2em;
}

footer p {
    font-size: 0.8em;
}

.main table {
    font-size: 0.9em;
    width: auto;
    min-width: 50%;
    margin: 2em auto;
    font-variant-numeric: tabular-nums;
}

/* Main page logos */
.logo-box {
    display: flex;
    width: 100%;
    margin-top: 2em;
}
.inline-logo {
    flex-grow: 1;
}

/* closed-zone box */
.admonition-closed-zone {
    border-left: 4px solid rgba(95, 0, 48, 1) !important;
    background: rgba(95, 0, 48, 0.1);
}

/* Staff-page contact info blocks */
.line-block {
    margin-bottom: 1em;
}

/* Code blocks */
code, pre {
    background: rgb(247, 247, 247) !important;
    max-height: 340px;
    overflow-y: scroll;
}
code.file {
    background: none !important;
    padding: 0;
    border: none;
}

/* Footnotes */
a.footnote-reference {
    vertical-align: super;
    font-size: 0.8em;
    padding: 0.1em;
    font-weight: bold;
}
dl.footnote {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    font-size: 0.8em;
    border-top: 1px solid #ececec;
    padding-top: 0.5em;
    margin-top: 2em;
}
dl.footnote dt.label {
    flex: 0 0 5%;
    text-overflow: ellipsis;
    overflow: hidden;
}
dl.footnote dd {
    flex: 0 0 95%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
a.fn-backref {
    text-decoration: none;
}

/* Events */
.event {
    padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: inherit;
}
.event.status-ongoing {
    border-left: 4px solid rgba(95, 0, 48, 1) !important;
    background: rgba(95, 0, 48, 0.1);
}
.event.status-ended, .event.status-recent {
    border-left: 4px solid rgba(0, 171, 164, 1) !important;
    background: rgba(0, 171, 164, 0.1);
}
.event.status-upcoming {
    border-left: 4px solid rgba(238, 127, 0, 1) !important;
    background: rgba(238, 127, 0, 0.1);
}
.event .event-title {
    margin: 0;
    font-size: 2rem;
}
.event dl {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
}
.event dt {
    flex: 0 0 15%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.event dd {
    flex: 0 0 85%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
.event .event-title a img {
    margin: 0.2em;
    display: inline-block;
    cursor: pointer;
}
.event .event-start {
    font-weight: bold;
}
.event .event-ende {
    font-weight: bold;
}
.event .event-actualend {
    font-weight: bold;
}
.event ul.event-tags {
    margin-top: 0.5em;
    font-size: 0.8em;
}
.event ul.event-tags li.event-tag::before {
    content: none;
}
.event ul.event-tags li.event-tag {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    background: rgba(0, 171, 164, 1);
    color: white;
    margin-right: 0.5em;
}

.main .figure {
    margin: 2em 0;
    padding: 2em 0;
    background: #f2f2f2;
}
.main .caption {
    font-weight: bold;
    margin: 0 2em;
    margin-top: 1em;
}
.main img {
    max-width: 90%;
}
